<div class="flex-container">
  <div class="login-panel">
    <form [formGroup]="form">
      <div class="tui-col_12 form-content">
        <h3 class="tui-island__title">Bejelentkezés</h3>
        <p class="tui-island__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="tui-island__paragraph tui-island__paragraph_link">
          <div class="tui-form__row">
            <p>
              <tui-input formControlName="username">
                Írja be a felhasználó nevét
              </tui-input>
              @if (form.get('username')?.invalid &&
              form.get('username')?.touched) { @if
              (form.get('username')?.hasError('required')) {
              <small>A felhasználónév megadása kötelező.</small>
              } }
            </p>
          </div>
          <div class="tui-form__row">
            <p>
              <tui-input formControlName="password">
                Írja be a jelszavát
              </tui-input>
              @if (form.get('password')?.invalid &&
              form.get('password')?.touched) { @if
              (form.get('password')?.hasError('required')) {
              <small>A jelszó megadása kötelező.</small>
              } }
            </p>
          </div>
          <div class="tui-form__row"></div>
        </div>

        <div class="buttons-container">
          <div class="login-btn-wrapper">
            <button
              tuiButton
              type="button"
              appearance="accent"
              (click)="onLogin()"
              [disabled]="form.invalid"
            >
              Bejelentkezés
            </button>
          </div>
          <div class="register-text">
            Nincs még fiókod?
            <a [routerLink]="['/register']" class="register-link">
              Regisztrálj itt!
            </a>
          </div>
          <div class="forgot-password">
            <a href="#" (click)="onForgotPassword($event)">Elfelejtett jelszavát?</a>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="logo-panel">
    <img
      src="https://taiga-ui.dev/assets/images/taiga.svg"
      alt="Taiga UI Logo"
    />
    <h1 class="text-xl font-semibold">Taiga UI Admin panel</h1>
  </div>
</div>
