<div class="flex-container">
  <div class="login-panel">
    <h3 class="tui-island__title">Bejelentkezés</h3>
    <p class="tui-island__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <app-form
    [fields]="formFields"
            [form]="loginForm"
            (submitForm)="onLogin($event)"
            [submitButtonName]="'Bejelentkezés'"
            [showSubmitBtn]="false"
            #loginFormComponent
    >

    </app-form>
    <div class="buttons-container">
      <div class="login-btn-wrapper">
        <button
          tuiButton
          type="button"
          appearance="accent"
          (click)="loginFormComponent.onSubmit()"
        >
          Bejelentkezés
        </button>
      </div>
          <div class="register-text">
              Nincs még fiókod?
              <a routerLink="/register" class="register-link">
                Regisztrálj itt!
              </a>
            </div>
      
          <div class="forgot-password">
              <a routerLink="/forgot-password"
                >Elfelejtett jelszavát?</a
              >
            </div>
    </div>
  </div>
  <div class="logo-panel">
    <img
      src="https://taiga-ui.dev/assets/images/taiga.svg"
      alt="Taiga UI Logo"
    />
    <h1 class="text-xl font-semibold">Taiga UI Admin panel</h1>
  </div>
</div>
