<div class="flex-container">
  <div class="login-panel">
    <h3 class="tui-island__title">Regisztráció</h3>
    <p class="tui-island__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <app-form
    [fields]="formFields"
            [form]="form"
            (submitForm)="onRegister($event)"
            [showSubmitBtn]="false"
            #registerFormComponent
    >

    </app-form>
    <div class="buttons-container">
      <div class="login-btn-wrapper">
        <button
          tuiButton
          type="button"
          appearance="accent"
          (click)="registerFormComponent.onSubmit()"
        >
          Regisztráció
        </button>
      </div>
      <div class="register-text">
        Ha van már fiókod, akkor itt tudsz bejelentkezni
        <br />
        <a [routerLink]="['/login']" class="register-link">
          Jelentkezz be itt!
        </a>
      </div>
    </div>
  </div>

  <div class="logo-panel">
    <img
      src="https://taiga-ui.dev/assets/images/taiga.svg"
      alt="Taiga UI Logo"
    />
    <h1 class="text-xl font-semibold">Taiga UI Admin panel</h1>
  </div>
</div>
