<tui-root>
  <div class="admin-container">
    <!-- Sidebar -->
    <nav [class.collapsed]="isCollapsed" class="sidebar">
      <button tuiIconButton [iconStart]="isCollapsed ? '@tui.menu' : '@tui.x'"  (click)="toggleSidebar()" appearance="flat"></button>
      <ul>
        <li routerLink="/admin/dashboard">
          <tui-icon icon="@tui.home" src="tuiIconHome"></tui-icon>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </li>
        <li routerLink="/admin/users">
          <tui-icon icon="@tui.user"></tui-icon>
          <span *ngIf="!isCollapsed">Felhasználók</span>
        </li>
        <li routerLink="/admin/settings">
          <tui-icon icon="@tui.settings" ></tui-icon>
          <span *ngIf="!isCollapsed">Beállítások</span>
        </li>
      </ul>
    </nav>

    <!-- Content -->
    <div class="content">
      <header class="header">
        <span class="spacer"></span>
        <button
        appearance="flat"
    tuiButton
    tuiChevron
    type="button"
    [tuiDropdown]="dropdownContent"
    [tuiDropdownManual]="open"
    [tuiObscuredEnabled]="open"
    (click)="onClick()"
    (tuiActiveZoneChange)="onActiveZone($event)"
    (tuiObscured)="onObscured($event)"
    class="avatar-button"
>
    <tui-avatar
        src="@tui.user"
        size="m"
        text="U"
    ></tui-avatar>
</button>

<ng-template #dropdownContent>
    <tui-data-list class="dropdown-menu">
        <button tuiOption (click)="navigateToProfile()">Profil</button>
        <button tuiOption (click)="logout()">Kijelentkezés</button>
    </tui-data-list>
</ng-template>
      </header>

      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</tui-root>

