<div class="flex-container">
    <div class="login-panel">
      <h3 class="tui-island__title">Új jelszó</h3>
      <app-form
        [fields]="formFields"
        [form]="forgotPwForm"
        (submitForm)="onResetPassword($event)"
        [submitButtonName]="'Küldés'"
      >
      </app-form>
    </div>
    <div class="logo-panel">
      <img
        src="https://taiga-ui.dev/assets/images/taiga.svg"
        alt="Taiga UI Logo"
      />
      <h1 class="text-xl font-semibold">Taiga UI Admin panel</h1>
    </div>
  </div>
  