
 <!-- Taiga UI táblázat -->
  <table tuiTable class="table">
    <thead>
      <tr>
        <th tuiTh>Felhasználónév</th>
        <th tuiTh>E-mail</th>
        <th tuiTh>Műveletek</th>
      </tr>
    </thead>
    <tbody tuiTbody>
        @for (user of users?.content; track $index) {
            <tr>
            <td tuiTd>{{ user.username }}</td>
            <td tuiTd>{{ user.email }}</td>
            <td tuiTd>
              <!-- Műveletek -->
              <button tuiButton >Szerkesztés</button>
              <button tuiButton >Törlés</button>
            </td>
        </tr>
        }
    </tbody>
  </table>

  <!-- Lapozás -->
  <tui-table-pagination
  [total]="totalRecords"
  [size]="size"
  [page]="page"
  (paginationChange)="onPageChange($event)">
</tui-table-pagination>
